<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.cmc.mapper.gfKpi.operateEfficiency.ThreeReceivableProportionMapper" >
 
	 <resultMap id="BaseResultMap" type="com.asiainfo.cmc.enties.gfKpi.operateEfficiency.ThreeReceivableProportion" >
	    <constructor >
	      <arg column="MONTH" jdbcType="VARCHAR" javaType="java.lang.String" />
	      <arg column="yszkze" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="yszk90" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="yszkzb90" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="yszkdf90" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="yszk180" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="yszkzb180" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="yszkdf180" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	      <arg column="df" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
	    </constructor>
	 </resultMap>
	 
 
	 <sql id="Base_Column_List" >
	   MONTH  billcyc , yszkze yszkze, yszk90 yszk90,yszkzb90 yszkzb90, yszkdf90 yszkdf90,yszk180 yszk180 ,yszkzb180 yszkzb180,
	   yszkdf180 yszkdf180 ,df df
	 </sql>
	 <select id="queryData" resultType="com.asiainfo.cmc.enties.gfKpi.operateEfficiency.ThreeReceivableProportion"  parameterType="Map" >
	   select 
	   <include refid="Base_Column_List" />
	   from KPI_ACCOUNTS_RECEIVABLE_RATIO   where <![CDATA[MONTH >= #{startMonth}   and  MONTH <= #{endMonth}  ]]>
	   
	</select>
	<update id="calculatedScore">
      call three_receivable_proportion(${startMonth},#{endMonth})
   </update>
   <select id="overview" resultType="ThreeReceivableProportion">
   	select  
	yszkzb90*100 yszkzb90,yszkzb180*100 yszkzb180
	 from KPI_ACCOUNTS_RECEIVABLE_RATIO where <![CDATA[MONTH >= #{startMonth}   and  MONTH <= #{stopMonth}  ]]>	ORDER BY MONTH DESC limit 0,1
   </select>
   <select id="getList" resultType="ThreeReceivableProportion">
   		select 
		<include refid="Base_Column_List" />
	 	from KPI_ACCOUNTS_RECEIVABLE_RATIO where <![CDATA[MONTH >= #{startMonth}   and  MONTH <= #{endMonth}  ]]>	
   </select>
   <select id="getTotal" resultType="java.lang.Integer">
   	select count(1) from KPI_ACCOUNTS_RECEIVABLE_RATIO where <![CDATA[MONTH >= #{startMonth}   and  MONTH <= #{endMonth}  ]]> 
   </select>
</mapper>